body {
	margin: 0;
	padding: 0;
	background: #e9e7c5;
}

.wrapper {
	display: flex;
	align-items: center;
	width: 60%;
	min-height: 95vh;
	margin: auto;
	padding: 1rem;

	& > div:first-child {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		align-self: flex-start;
	}

	@media only screen and (max-width: 640px) {
		width: 100%;
		padding: 0;
	}
}

footer {
	p  {
		margin: 5px;
	}

	a {
		color: inherit;
	}

	background-color: rgba(255,255,255,0.4);
	font-size: 0.8rem;
	padding: 2rem;
	color: black;
	text-align: center;
}